.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid lightgray;

    .title {
        font-size: 28px;
        font-weight: 500;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        cursor: pointer;
    }

}