.wordgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .line {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .block {
        width: 55px;
        height: 55px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;

        &.correct {
            background-color: green;
            color: white;
            font-weight: 600;
            border: 1px solid green;
            transition: 0.5s ease-in-out;
        }

        &.placement {
            background-color: goldenrod;
            color: white;
            font-weight: 600;
            border: 1px solid goldenrod;
            transition: 0.5s ease-in-out;
        }

        &.wrong {
            background-color: gray;
            color: white;
            font-weight: 600;
            border: 1px solid gray;
            transition: 0.5s ease-in-out
        }
    }

}