.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    .top,
    .middle,
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;

        .bkey {
            width: 55px;
            height: 45px;
            font-weight: 550;
            color: rgb(68, 68, 68);
            font-size: 16px;
            border: 1px solid lightgray;
            border-radius: 5px;

            &:hover {
                background-color: lightgray;
            }

            .icon {
                pointer-events: none;
                text-align: center;
                margin-top: 4px;
                font-size: 18px;
            }
        }

        .key {
            width: 30px;
            height: 45px;
            text-align: center;
            font-weight: 550;
            color: rgb(68, 68, 68);
            font-size: 16px;
            border: 1px solid lightgray;
            border-radius: 5px;

            &.correct {
                background-color: green;
                border: 1px solid green;
                color: white;
            }

            &.wrong {
                background-color: gray;
                border: 1px solid gray;
                color: white;
            }

            &.placement {
                background-color: gold;
                border: 1px solid gold;
                color: white;

            }

            &:hover {
                background-color: lightgray;
            }


        }
    }


}